<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.multi.springBoot.mybatisPlus.mapper.UserMapper">
    <select id="selectByIdCustomized" resultType="User">
        SELECT id, `name`, age, email, del_flag
        FROM `user`
        WHERE id = #{id}
    </select>

    <select id="selectPartOfUser" resultType="com.example.demo.multi.springBoot.mybatisPlus.entity.PartOfUser">
        SELECT id, `name`, age
        FROM `user`
        WHERE id = #{id}
    </select>
    <select id="selectUserMapById" resultType="java.util.Map">
        SELECT *
        FROM `user`
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="User">
        select * from  `user`;
    </select>
</mapper>
