<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testBean" name="testBeanName" class="com.example.demo.multi.springBoot.entity.TestBean"
          init-method="init" destroy-method="destroy" lazy-init="false">
        <property name="property1" value="value-of-property1"></property>
    </bean>

    <bean id="customDateFactoryBean" name="CustomDateFactoryBeanName" class="com.example.demo.multi.springBoot.factorybean.CustomDateFactoryBean"
          init-method="init" lazy-init="false">
    </bean>
</beans>